.Streams_related_tool.Media_channels_my .Streams_preview:not(.Streams_preview_composer) {
    display: none;
}

.Q_columns_stretchFirstColumn[data-column-count='1'] .Streams_related_tool.Media_channels {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.Streams_related_tool.Media_channels {
    width: 100%;
    padding: 5px 5px 0 5px;
}
.Q_notMobile .Streams_related_tool.Media_channels {
    padding: 10px 10px 0 10px;
}
.Streams_related_tool.Media_channels {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}