.Streams_related_tool.Media_channels_my .Streams_preview:not(.Streams_preview_composer) {
    display: none;
}
.Q_columns_stretchFirstColumn[data-column-count='1'] .Streams_related_tool.Media_channels,
.Q_columns_stretchFirstColumn[data-column-count='1'] .Media_channels_menuBox {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.Streams_related_tool.Media_channels,
.Media_channels_menuBox {
    width: 100%;
    padding: 5px 5px 0 5px;
}
.Q_notMobile .Streams_related_tool.Media_channels,
.Q_notMobile .Media_channels_menuBox {
    padding: 10px 10px 0 10px;
}
.Streams_related_tool.Media_channels,
.Media_channels_menuBox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

/*   <Menu>    */
.Media_channels_menu_items,
.Media_channels_menu {
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}
.Media_channels_menu {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
}
.Media_channels_menu:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30px;
    background-position: center center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    color: #5e5e5e;
    text-align: center;
    text-indent: 0;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    font-family: 'qplatform-communities';
    font-size: 27px !important;
    content: "\e932";
}
.Media_channels_menu[data-expanded="true"]:after {
    content: "\e939";
}
.Media_channels_menu_items {
    display: none;
    position: absolute;
    padding: 0;
    margin-left: 5px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
}
.Q_notMobile .Media_channels_menu_items {
    margin-left: 10px;
}
.Media_channels_menu,
.Media_channels_menu_items > div {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
}
.Media_channels_menu[data-action=search] {
    padding: 0;
}
.Media_channels_menu input[name=search] {
    border: none;
    outline: none;
    background: transparent !important;
    min-height: 40px;
    height: 40px;
    width: calc(100% - 30px);
    font-size: 18px;
}
.Media_channels_menu input[name=search]::placeholder {
    opacity: 0.5;
}
.Media_channels_menu_items > div:hover {
    background-color: #f0f0f0;
}
@media (prefers-color-scheme: dark) {
    .Media_channels_menu:after {
        color: #a5a5a5;
    }
    .Media_channels_menu,
    .Media_channels_menu_items {
        background-color: #3f3f3f;
    }
    .Media_channels_menu input[name=search] {
        color: #fff !important;
    }
}
/*   </Menu>    */