:root {
    --channels-zero-column-width: 30%;
}

.Q_notMobile.Media_channels .Q_columns_stretchFirstColumn[data-column-count='2'] .Q_column_0,
.Q_notMobile.Media_channel .Q_columns_stretchFirstColumn[data-column-count='2'] .Q_column_0 {
    min-width: var(--channels-zero-column-width);
    width: var(--channels-zero-column-width);
}
.Q_notMobile.Media_channels .Q_columns_stretchFirstColumn[data-column-count='2'] .Q_column_1,
.Q_notMobile.Media_channel .Q_columns_stretchFirstColumn[data-column-count='2'] .Q_column_1 {
    width: calc(100% - var(--channels-zero-column-width) - var(--column-margin));
}

.Streams_related_tool.Media_channels_my .Streams_preview:not(.Streams_preview_composer) {
    display: none;
}

.Q_columns_stretchFirstColumn[data-column-count='1'] .Streams_related_tool.Media_channels {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.Streams_related_tool.Media_channels {
    width: 100%;
    padding: 5px 5px 0 5px;
}
.Q_notMobile .Streams_related_tool.Media_channels {
    padding: 10px 10px 0 10px;
}
.Streams_related_tool.Media_channels {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
}