.Media_channel_preview_tool {
    margin: 5px 5px 0 5px;
}
.Media_channel_preview_tool:not(.Streams_preview_composer) {
    border: 1px solid silver;
    border-radius: 5px;
    background-color: #f0f0f0;
}
.Q_notMobile .Media_channel_preview_tool {
    margin: 10px 10px 0 10px;
}
