.clip-editor {

}

.clip-editor .clip-editor-timeline {
    position: relative;
    background-color: #e8f9fd;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #cacbdc;

    /* background-image:
    repeating-linear-gradient(
      to right,
      #ccc 0,
      #ccc 1px,
      transparent 1px,
      transparent 50px
    ),
    repeating-linear-gradient(
      to bottom,
      #ccc 0,
      #ccc 1px,
      transparent 1px,
      transparent 50px
    ); */

    background-image:
    linear-gradient(#ccc 1px, transparent 1px),
    linear-gradient(to right, #ccc 1px, transparent 1px);


    background-size: calc(100% / 70) 50px;
}
.clip-editor .clip-editor-timeline .clip-editor-timeline-clip {
    height: 46px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #4750ff;
    border-left-width: 10px;
    border-right-width: 10px;
}
.clip-editor .clip-editor-ranges-inputs {
    display: flex;
}
.clip-editor .clip-editor-controls input.clip-editor-range-invalid {
    border: 1px solid red;
    background-color: #fff5f5 !important;
}
.clip-editor .clip-editor-create-clip button {
    background-color:rgba(169, 169, 182, 0.25);
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.clip-editor .clip-editor-create-clip button:hover {
    background-color:rgba(169, 169, 182, 0.50);
}