#Media_presentation_container {
    height: 100%;
}

.Media_presentation_tool {
    position: relative;
    min-height: 75vh;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    color: black;
}

.Media_presentation_tool>*,
.Media_presentation_tool .Media_presentation_screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Media_presentation_tool .Media_presentation_hero {
    text-align: center;
    height: 100%;
}

.Media_presentation_tool .Media_presentation_presenters {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

.Media_presentation_tool .Media_presentation_title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 40px;
}

.Media_presentation_tool .Media_presentation_title_screen .Users_avatar_tool {
    margin: 0 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.Media_presentation_tool .Media_presentation_title_screen .Users_avatar_icon,
.Media_presentation_tool .Streams_participants_avatars .Users_avatar_icon {
    margin: 0 10px;
}

.Media_presentation_tool .Media_presentation_caption {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.Media_presentation_tool .Media_presentation_pdf_caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(200, 200, 200, 0.9);
    font-weight: bold;
}

.Media_presentation_tool .Media_presentation_fadeout {
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
}

.Media_presentation_tool .Media_presentation_image_screen img,
.Media_presentation_tool .Media_presentation_video_screen .Q_video_tool,
.Media_presentation_tool .Media_presentation_audio_screen .Q_audio_tool {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-height: 75%; /* leave room for caption */
}
.Media_presentation_tool .Media_presentation_video_screen .Q_video_tool,
.Media_presentation_tool .Media_presentation_audio_screen .Q_audio_tool {
    height: 100%;
    width: 100%;
}

.Media_presentation_tool .Media_presentation_image_screen .Media_presentation_hero,
.Media_presentation_tool .Media_presentation_video_screen .Media_presentation_hero,
.Media_presentation_tool .Media_presentation_audio_screen .Media_presentation_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Media_presentation_tool .Media_presentation_video_screen,
.Media_presentation_tool .Media_presentation_pdf_screen,
.Media_presentation_tool .Media_presentation_title_screen {
    background: black;
    color: white;
}

.Media_presentation_tool .Media_presentation_pdf_screen .Media_presentation_hero {
    width: 100%;
    height: 100%;
}

.Media_presentation_tool .Media_presentation_pdf_screen .Q_pdf_tool {
    width: 100%;
    height: 100%;
}
.Media_presentation_tool .Media_presentation_pdf_screen .Q_pdf_tool[data-slideMode] canvas {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.Media_presentation_tool .Media_presentation_question_screen .Media_presentation_hero {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 10%;
}
.Media_presentation_tool .Media_presentation_question_screen .Media_presentation_hero .Streams_question_preview_tool .Streams_preview_title {
    font-size: 2em;
}

.Media_presentation_tool .Media_presentation_question_screen:not([data-mode="participant"]) .Streams_related_answers {
    opacity: 0;
    max-height: 0;
    transition: opacity 1s, max-height 1s;
}

.Media_presentation_tool .Media_presentation_question_screen.Media_presentation_question_showAnswers .Streams_related_answers {
    opacity: 1;
    max-height: 1000px;
}
.Media_presentation_tool .Media_presentation_question_screen.Media_presentation_question_showAnswers .Media_presentation_question_scanQR {
    display: none;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_preview_tool form {
    display: none;
}

.Media_presentation_tool .Media_presentation_question_screen[data-mode=participant] .Streams_preview_tool form {
    display: block;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool {
    display: block;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool span {
    margin: 0;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool[data-type=text] {
    border-top: 2px dotted rgba(100, 100, 100, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool[data-type=text] .Users_avatar_tool {
    display: flex;
    align-items: center;
    line-height: 20px;
    max-width: 100%;
    width: 100%;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool .Streams_participants_tool {
    padding: 0 20px;
    flex-grow: 1;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool .Streams_participants_tool {
    height: auto;
    max-height: 200px;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_dialog_editQuestion input[type=checkbox],
.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool input[type=checkbox],
.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool input[type=radio] {
    margin-right: 10px;
}

.Media_presentation_tool .Media_presentation_answer_text_custom {
    line-height: 20px;
    white-space: normal;
    height: auto;
    max-height: none;
    text-align: left;
}

.Media_presentation_tool .Media_presentation_question_screen .Streams_answer_preview_tool  .Streams_participants_tool.Q_overflowed .Streams_participants_controls {
	display: none;
}

.Media_presentation_tool .Streams_preview_tool.Streams_related_stream { cursor: pointer; }
.Media_presentation_tool .Streams_preview_tool.Streams_related_stream:hover { background: rgba(200, 200, 200, 0.2); }
.Media_slide_dialog .Q_dialog_content { padding: 10px; }

.Media_presentation_tool .Media_presentation_question_screen .Media_presentation_question_scanQR {
    position: relative;
    top: 50px;
    text-align: center;
    font-size: 20px;
}
.Media_presentation_tool .Media_presentation_question_screen[data-mode="participant"] .Media_presentation_question_scanQR {
    display: none;
}
.Media_presentation_tool .Media_presentation_question_QR { width: 200px; height: 200px; margin: 20px auto }

.Media_presentation_tool .Media_presentation_question_screen .Streams_question_answer_container * {
	vertical-align: middle;
    font-size: 2em;
}

.Media_presentation_tool .Media_presentation_question_screen:not([data-mode="participant"]) input {
    display: none;
}