{{ interpolate notifications.SubjectJoinedYourCall subject=(call "avatar.displayName") }}
<hr>
<p>{{notifications.IfUnsubscribe}}, <a href="{{baseUrl}}/Streams/participating">{{notifications.ManageEmailSubscriptions}}</a></p>